// Main Street- Our One Stop Shopping Destination!

@import "normalize";
@import "google-homepage";

/* Styling */
body {
    background: rgba(255, 255, 255, 0.6);
    
}

svg.head {
    fill: #0a0000;
    outline-color: black;
}
//this is our stage, the page is curtains
#stage {
    background: white;
    position: relative;
    overflow: hidden;
    //over sets the curtains, stage div is stage
}
//child
//child
#stage svg.Doubles {
    position: absolute;
    bottom: -76pt;
    right: 150pt;
    width: 200px;
    height: 300px;
    
}
// cchil
#stage svg.LeftHand {
    position: absolute;
     bottom: -80pt;
    right: 280pt;
    width: 200px;
    height: 300px;
}
#stage svg.head {
    position:absolute;
    bottom: -80pt;
    left: 190px;
    width:400px ;
    height:400px;
}
//anime

//first frame
#stage svg.Doubles {
  animation: moveanimation1 1s ;
animation-duration: 3s;
    animation-iteration-count: infinite;
}
#stage svg.LeftHand
{animation-duration: 9s;
animation: moveanimation2 3s; 
     animation-iteration-count: infinite;
    // transform: rotate(-36deg)translateX(120px) translateY(-50px) rotate(50deg);
    //transition: transform 1s
     }

//last frame

@keyframes moveanimation1 {
    0% {
        bottom: -76pt;
    right: 150pt;
    width: 200px;
    height: 300px
    }
    50% {transform: rotate(-36deg)translateX(120px) translateY(-50px) rotate(50deg);
    transition: transform 1s;
        
    }
    100% {transform: translateX(0pt);
    transition: transform 1s
    }

}

@keyframes moveanimation2 {
    0% {
          bottom: -80pt;
    right: 280pt;
    width: 200px;
    height: 300px
    }
    50% {transform: rotate(-36deg)translateX(120px) translateY(-50px) rotate(50deg);
    transition: transform 1s;
        
    }
    100% {transform: translateX(0pt);
    transition: transform 1s
    }
}
