// Main Street- Our One Stop Shopping Destination!

@import "normalize";
@import "google-homepage";

/* Styling */
body {
    background: rgba(79, 149, 149, 0.6);
    
}

//this is our stage, the page is curtains
#stage {
    position: relative;
    overflow: hidden;
    //over sets the curtains, stage div is stage
}
//child
//child
#stage svg.Doubles {
    position: absolute;
    bottom: -76pt;
    right: 150pt;
    width: 200px;
    height: 300px;
    
}
// cchil
#stage svg.LeftHand {
    position: absolute;
     bottom: -80pt;
    right: 280pt;
    width: 200px;
    height: 300px;
}
#stage svg.head {
    position:absolute;
    bottom: -80pt;
    left: 190px;
    width:400px ;
    height:400px;
}
//anime

//first frame
#stage:hover svg.Doubles {
    animation-duration: 10s; 
    transform: rotate(-36deg)translateX(120px) translateY(-50px) rotate(50deg);
    transition: transform 1s ;
}
#stage:hover svg.LeftHand
{animation-delay: 2s ;
animation-duration: 10s; 
    transform: rotate(-36deg)translateX(120px) translateY(-50px) rotate(50deg);
    transition: transform 1s }

//last frame

    